.loaderWrapper {
  background-color: transparent;
  position: relative;
  margin: 0 auto;
}

.loaderBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderSvg {
  display: block;
}